.modal {
  padding: 0 15px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 3;

  &.active {
    display: flex;
  }
}

.modal_wrapper {
  background-color: $white;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  z-index: 999;
  width: 550px;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
  padding: 50px 30px 30px 30px;

  h2 {
    margin-bottom: 30px;
    width: 100%;
    display: inline-block;
    font-size: 35px;
    font-weight: 400;
    color: #555555;
    line-height: 1.2;
    text-align: center;

  }
}

.modal__form {
  color: #555;
}

.modal__social_wrapper {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}

.modal__social {
  font-size: 18px;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 70px;
  border: 2px solid transparent;
  border-radius: 10px;
  width: calc((100% - 20px) / 2);
  transition: all .3s ease-in-out;
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);

  i,
  img {
    margin-right: 15px;
  }
}

.modal__social--facebook {
  color: #fff;
  background-color: #3b5998;

  &:hover {
    color: $light-blue;
    background-color: transparent;
    border-color: $light-blue;
    transform: scale(1.05);
  }

  i {
    font-size: 30px;
  }
}

.modal__social--google {

  img {
    width: 25px;
  }

  &:hover {
    color: $light-blue;
    background-color: transparent;
    border-color: $light-blue;
    transform: scale(1.05);
  }
}

.modal_close {
  @include no-btn;

  width: 34px;
  height: 26px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1000;

  span {
    position: absolute;
    width: 100%;
    height: 3.33px;
    right: 0;
    background: #555;
    border-radius: 3px;
    transition: .2s linear;

    &:nth-child(1) {
      top: 50%;
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      top: 50%;
      transform: rotate(-45deg);
    }
  }

  &:hover span {
    background: $light-blue;
  }
}

.form__input {
  margin-bottom: 30px;

  li {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 10px;

      a {
        font-size: 14px;
        color: #999999;
        line-height: 1.5;
        text-decoration: underline;

        &:hover {
          color: $light-blue;
          transition: color .3s ease;
        }
      }
    }

    input {
      outline: none;
      border: none;
      color: #333333;
      line-height: 1.2;
      font-size: 18px;
      display: block;
      width: 100%;
      background: #f7f7f7;
      height: 60px;
      padding: 0 20px;
      border: 1px solid #e6e6e6;
      border-radius: 10px;
      transition: border-color .3s ease;

      &:active,
      &:focus {
        border-color: $light-blue;
      }
    }
  }
}

.form__btn {
  margin-top: 30px;
  border-radius: 10px;

  &:hover {
    transform: scale(1.05);
  }
}

.form__sing-up {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #999999;
  line-height: 1.5;

  a {
    text-decoration: underline;

    &:hover {
      color: $light-blue;
      transition: color .3s ease;
    }
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .7;
  z-index: 3;
}

// Media
@include media(sm) {
  .modal_wrapper {
    padding: 20px;
  }

  .modal__form {
    h2 {
      font-size: 25px;
    }
  }

  .modal__social {
    width: 100%;
  }
}